<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/home">
    <span class="user-image" style="background-image: url('assets/user.jpg')"></span>
    <span class="dasboard-text">Werlcome </span>
  </a>
  <ul class="navbar-nav px-3">
    <li>
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">
        HOME
      </a>
    </li>
  </ul>
  <ul class="navbar-nav px-3">
    <li>
      <a class="nav-link" [routerLink]="['/gallery']" routerLinkActive="router-link-active">
        GALLERY
      </a>
    </li>
  </ul>
  <ul class="navbar-nav px-3">
    <li>
      <a class="nav-link" [routerLink]="['/employee']" routerLinkActive="router-link-active">
        EMPLOYEE
      </a>
    </li>
  </ul>

</nav> -->

<nav class="navbar navbar-light bg-dark justify-content-between">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/home">
    <span class="user-image" style="background-image: url('assets/user.jpg')"></span>
    <span class="dasboard-text">Werlcome </span>
  </a>
  <ul class="navbar-nav">
    <li>
      
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" ><span class="dasboard-text">HOME</span></a>
      <a class="navbar-brand" [routerLink]="['/gallery']" routerLinkActive="router-link-active" ><span class="dasboard-text">Gallery</span></a>
      <a class="navbar-brand" [routerLink]="['/employee']" routerLinkActive="router-link-active" ><span class="dasboard-text">Employee</span></a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
